<div [ngSwitch]="view" class="absolute inset-0">
    <calendar-week-view class="absolute inset-0" *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [validateEventTimesChanged]="validateEventTimesChanged" (eventTimesChanged)="eventTimesChanged($event)"></calendar-week-view>
    <!-- <calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [validateEventTimesChanged]="validateEventTimesChanged" (eventTimesChanged)="eventTimesChanged($event)"></calendar-day-view> -->
</div>